/* styles/globals.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Your custom styles go here */

@import url("https://fonts.googleapis.com/css2?family=Poppins,wght@0,400;0,500;0,600;&display=swap");

/** swiper styles **/

/* .swiper{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow-y: visible;
    z-index: 5000000;
    position: relative;
} */

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
